<h1>Login</h1>

<%= form_with url: "/sessions" do |form| %>
  <p class="mt-5">
    <%= form.label "email" %>
    <%= form.text_field "email" %>
    <%= form.label "password" %>
    <%= form.text_field "password" %>
  </p>
  <p class="mt-4">
    <%= form.submit "Login", class: "btn btn-primary" %>
  </p>
<% end %>